<!DOCTYPE html>
<html>
<head>
  <title>ReactRailsExample</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="siteHeader">
  <h1 class="siteHeader-title"><a href="/">My Awesome Blog!!!!!</a></h1>
</div>

<div class="siteContent">
<%= yield %>
</div>

<div class="siteFooter">
  created by <a href="https://twitter.com/hokaccha">@hokaccha</a>
</div>

</body>
</html>
